node_modules/**/*
.expo/*
.expo-shared
.watchmanconfig
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
node_modules
.env
report.20190827.194730.1824.0.001.json
grabatreat.code-workspace

# Android

android/*.iml
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.DS_Store
android/build/
android/app/build/
android/captures
android/.externalNativeBuild
android/debug.keystore
android/gradlew
android/app/release/
android/app/debug/
android/app/src/main/assets/shell-app.bundle
android/app/src/main/assets/shell-app-manifest.json